
body{
	width:100%;
	height:100%;
}

.topBar {
	background-color: #EBEBEB;
}

.logo {

	font-family: Cormorant Garamond;
	font-size: 40px;
	padding: 10px;
	float: left;
}

a {
	text-decoration: none;
	font-size: 20px;
	padding: 20px;
}

a:link {
	background-color: #EBEBEB;
	color: #383838;
}

a:visited {
	color: #383838;
	background-color: #EBEBEB;
}

a:hover {
	color: #878787;
	background-color: #EBEBEB;
}

body {
	font-family: Montserrat;
	background-color: #EBEBEB;
}

button {
	font-weight: bold;
	font-style: italic;
	background: -moz-linear-gradient(white,rgba(0,0,0,0.2) ); /* FF 3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%,#B2B2B2 )); /* Safari 4+, Chrome 2+ */
	background: -webkit-linear-gradient(white,rgba(0,0,0,0.2)); /* Safari 5.1+, Chrome 10+ */
	background: -o-linear-gradient(white,rgba(0,0,0,0.2)); /* Opera 11.10 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#B2B2B2'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#B2B2B2')"; /* IE8+ */
	background: linear-gradient(white,rgba(0,0,0,0.2)); /* the standard */
	width: 7em;
	height: 3em;
	color: #ffffff;
	text-shadow: 1px 1px #000000;
	border: 1px dotted #666666;
	box-shadow: 0px 0px 2px 2px #FFFFFF;
	border-radius: 10%;
}

.toplinks {

	line-height: 3em;
}
#mobilemenuul {
	list-style-type: none;
}

#mobilemenu {
	display: none;
}
#menubutton {
	display: none;
}

#indexbody {
	font-family: Montserrat;
	background-color: #EBEBEB;
}

.menu {
	background-color: #EBEBEB;
	float: right;
}


.homePanel {
	font-family: Cormorant Garamond;
	
	background: linear-gradient(
	rgba(0, 10, 200, 0.2),
	rgba(0, 10, 200, 0.2)), url(../images/newbg.jpg);
	
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 4em;
	width: 100%;
	height: auto;
	font-size: 40px;
	color: #FDFDFD;
	text-align: center;
	float: left;
	clear: both;
}

.panel {
	font-family: Cormorant Garamond;
	font-size: 20px;
	color: #FDFDFD;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
}
.contactPanel {
	height:50%;
	background: url(../images/dog_on_leash.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.7;
}

#home {

	float: left;
}

#meet {

	float: left;
}

#about {

	float: left;
}

#book {

	float: left;
}

#contact {

	float: left;
}

#meet, #about, #book, #contact, #home, #meet {
	font-family: Montserrat;
	font-size: 40px;
	color: #e5e5e5;
	background-color: #EBEBEB;
	float: left;
}

#verticalGrid {
	visibility: hidden;
	height: 0%;
}

#horizontalGrid {
	visibility: visible;
}

#formContainer {

	background: url(../images/dog_on_leash.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.7;
}
#aboutContainer {
	background: url(../images/dog_bg2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.7;
}

#contactForm, #aboutContentTextDiv {
	background-color: rgba(0,0,0,0.4);
	padding: 4em;
}

#contactTable {

	width: 50%;
	margin: auto;
}

.grid-container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: auto auto auto;
	grid-auto-columns: 100%;
	background-color: #EBEBEB;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #383838;
	color: #383838;
	font-size: 20px;
	text-align: center;
}

.grid-container > img {
	max-width: 100%;
	max-height: 100%;
	background-size: cover;
}

.leftPanel {

	width: 45%;
	margin: 10px;
	float: left;
	height: 85%;
	border: 1px solid black;
}

.rightPanel {

	width: 45%;
	margin: 10px;
	float: right;
	height: 85%;
	border: 1px solid black;
}
@media screen and (max-width: 800px) {
	#contactForm {
		width: 100%;
		padding: 0;
	}
	input {
		width: 80%;
	}
	#contactTable {

		width: 100%;
		margin: auto;
		padding: 0;
	}
	.leftTd {
		width: 5%;
	}
	a {
		text-decoration: none;
		font-size: 1em;
		padding: 1em;
	}

	a:link {
		text-decoration: none;
		background-color: transparent;
		color: #383838;
	}

	a:visited {
		color: #383838;
		text-decoration: none;
		background-color: #B2B2B2;
	}

	a:hover {
		text-decoration: none;
		color: #666666;
		background-color: transparent;
	}

	.menu {

		display: none;
	}
	#mobilemenu {
		position: fixed;
		top: 3em;
		right: 0.5em;
		background: -webkit-linear-gradient(bottom, rgba(217,217,217,0.7),white,rgba(217,217,217,0.7) white); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom,  rgba(217,217,217,0.7),rgba(255,255,255,0.9),white,  rgba(255,255,255,0.9),rgba(217,217,217,0.7)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(top, rgba(217,217,217,0.7), rgba(255,255,255,0.9),white,  rgba(255,255,255,0.9),rgba(217,217,217,0.7)); /* the standard */
		background: linear-gradient(to bottom, rgba(217,217,217,0.7),rgba(255,255,255,0.9),white,  rgba(255,255,255,0.9),rgba(217,217,217,0.7));
		width: auto;
		text-shadow: 0px 0px #000000;
		-webkit-box-shadow: 14px 10px 24px 0px rgba(217,217,217,0.3);
		-moz-box-shadow: 14px 10px 24px 0px rgba(217,217,217,0.3);
		box-shadow: 14px 10px 24px 0px rgba(217,217,217,0.3);
		padding: 2%;
		z-index: 70;
		border-radius: 10%
	}

	#menubutton {
		position: fixed;
		top: 1em;
		right: 0.5em;
		visibility: visible;
		display: inline;
	}

	
	 #verticalGrid{
	 visibility:visible;
	 position: absolute;
	 background-color: #EBEBEB;
		top:5em;
	 }

	 #horizontalGrid{
	 visibility:hidden;
	 height:0%;
	 width:0%;
	 }

	 .grid-container {
	 height:auto;
	 width:100%;
	 display: grid;
	 grid-template-columns: auto;
	 background-color: #EBEBEB;
	 padding: 10px;
	 }

	 .grid-item {
	 background-color: background-color: #EBEBEB;
	 border: none;
	 color: #383838;
	 font-size: 20px;
	 text-align: center;
	 }

	 .grid-container > img {
	 width: 100%;
	 height: auto;
	 background-size: cover;
	 }
	 

}
@media screen and (max-width: 800px) and (orientation: portrait) {
	#verticalGrid {
		visibility: visible;
		position: absolute;
		background-color: #EBEBEB;
		top:5em;
	}

	#horizontalGrid {
		visibility: hidden;
		height: 0%;
		width: 0%;
	}

	.grid-container {
		height: auto;
		width: auto;
		display: grid;
		grid-template-columns: auto;
		background-color: #EBEBEB;
		padding: 0px;
	}

	.grid-item {
		background-color: background-color: #EBEBEB;
		border: none;
		color: #383838;
		font-size: 20px;
		text-align: center;
	}

	.grid-container > img {
		width: 100%;
		height: auto;
		background-size: cover;
		margin:auto;
	}

}

